{{!
  Copyright (C) 2016 Google Inc., authors, and contributors <see AUTHORS file>
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
  Created By: tomaz@reciprocitylabs.com
  Maintained By: tomaz@reciprocitylabs.com
}}

<sprints-observer instances='cycles'>

  <div class="row-fluid">
    <div data-id="state_hidden" class="span12 hidable">

      {{! render instances dropdown }}
      <div data-id="state_hidden" class="span4 hidable">
        <dropdown-mapping
          instances='instances'
          selected-id='selectedId'>
        </dropdown-mapping>
      </div>

      {{! render end-cycle button }}
      <div data-id="state_hidden" class="span8 hidable">
        <cycle-end-cycle cycle="selectedInstance">
          {{#is_allowed "update" cycle.workflow.reify}}
            {{#if cycle.is_current}}
              <button class="btn btn-draft btn-small end-cycle pull-right" style="display:inline-block;">
                End Cycle{{{cycle.id}}}
              </button>
            {{/if}}
          {{/is_allowed}}
        </cycle-end-cycle>
      </div>

    </div>
  </div>

  <tree-view tree-view-options="tree_view_options" instance="selectedInstance">
  </tree-view>

</sprints-observer>
