{{!
  Copyright (C) 2016 Google Inc., authors, and contributors <see AUTHORS file>
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
  Created By: tomaz@reciprocitylabs.com
  Maintained By: tomaz@reciprocitylabs.com
}}

{{^if_equals workflow.frequency "one_time"}}
  <div class="row-fluid">
    <div class="span2">
      <h2>Next sprint starts on 04/01/2016</h2>
      <br />
      All tasks will be cloned when:
      <ol>
        <li>the current sprint ends, or</li>
        <li>when the next sprint starts.</li>
      </ol>
    </div>
  </div>
{{/if_equals}}
<ul class="tree-structure new-tree"></ul>
