{{!
    Copyright (C) 2014 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: anze@reciprocitylabs.com
    Maintained By: anze@reciprocitylabs.com
}}

{{#is_allowed 'create' 'CycleTaskGroupObjectTask' context=null}}
  {{! Possible scenarios:
    - on Sprints page with parent_instance Cycle
    - on Dashboard MyTasks with parent_instance Person
    - on some object page
  }}
  {{^if_helpers '\
    #if_equals' parent_instance.type "Cycle" '\
    and ^if' parent_instance.is_current}}
    <a
      class="section-add"
      href="javascript://"
      rel="tooltip"
      data-placement="left"
      data-original-title="Create Cycle Task for object"
      data-object-plural="cycle_task_group_object_tasks"
      data-modal-class="modal-wide" href="javascript://"
      data-object-singular="CycleTaskGroupObjectTask"
      data-toggle="modal-ajax-form"
      data-modal-reset="reset"
      data-object-params='{
        {{#if_equals parent_instance.type 'Cycle'}}
          {{#if parent_instance.is_current}}
            "workflow":{"id":{{parent_instance.workflow.id}},"type":"Workflow"},
            "fromCycle":{"id":{{parent_instance.id}},"type":"Cycle"},
          {{/if}}
        {{/if_equals}}

        {{^if_instance_of parent_instance 'Person|Cycle'}}
          "pre_mapped_objects": [{
            "type": "{{ parent_instance.type }}",
            "id": {{ parent_instance.id }}
          }],
        {{/if_instance_of}}
        "modal_title": "Create New Cycle Task"
        }'>

      <i class="fa fa-plus-circle"></i>
    </a>
  {{/if_helpers}}
{{/is_allowed}}
